@media(max-width:575px){
    .navbar-brand{
        width: 50%;
    }
    .navbar-brand img{
        width: 100%;
    }
}



@media(max-width:767px){
    .navbar-nav{
        padding-left: 0px;
    }

    .btn-navbar{
        margin-top: 10px;
        margin-left: 0px;
    }

    footer .row > div{
        text-align: center !important;
    }

    #general-question,#upload-question,#download-question{
        margin-top: 30px;
    }
}

@media(min-width:768px) and (max-width:991px){
    .navbar-nav{
        padding-left: 0px;
    }

    .btn-navbar{
        margin-top: 10px;
        margin-left: 0px;
    }

  

    #general-question,#upload-question,#download-question{
        margin-top: 30px;
    }
}


@media(min-width:992px) and (max-width:1199px){
    .navbar-nav{
        padding-left: 85px;
    }
}