@media(min-width:992px) and (max-width:1199px){
    .navbar-nav{
        padding-left: 30px;
        align-items: center;
    }

    
    
}


@media(max-width:991px) and (min-width:768px)
{
    .navbar-nav{
        padding-left: 0;
    }
    .btn-navbar{
        margin-left: 0;
    }
    .seller{
        margin-left: 0;
    }    
    
    .admin-dashboard-table .form-inline{
        float: none;
    }

    #search-box{
        float: right;
    }
}

@media(max-width:767px){
    
    .navbar-nav{
        padding-left: 0;
    }
    .btn-navbar{
        margin-left: 0;
    }
    .seller{
        margin-left: 0;
    }
    .heading h2{
        text-align: center;
    }
    .square-box{
        margin-bottom: 10px;

    }
    .table-heading h2{
        text-align: center;
        margin-bottom: 10px;
    }
    .admin-dashboard-table{
        margin-top:35px
    }
    .admin-dashboard-table .form-inline{
        float: none;
        display: flex;
       
        justify-content: center;
    }
    #search-btn{
        margin-top: 10px;
    }

    footer .row > div{
        text-align: center !important;
    }

    .arrow-left{
        margin-right: 15px;
    }

    .arrow-right{
        margin-left: 15px;
    }

    .pagination li:nth-child(3) a,
  .pagination li:nth-child(4) a,
  .pagination li:nth-child(5) a,
  .pagination li:nth-child(6) a
  {
      margin-left: 15px;
  }

}


@media(max-width:575px){
    
    .navbar-brand{
        width: 50%;
    }
    .navbar-brand img{
        width: 100%;
    }
   
    .admin-dashboard-table .form-inline{
        float: none;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #search{
        width:250px
    }
    .search-icon{
        right: -20px;
        top:-40px
    }
    .btn-search{
        margin-bottom: 10px;
    }
    #search-box{
        height: 50px;
        margin-bottom: 10px;
    }
}